<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap" rel="stylesheet">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
<head>
	<title>Schizophrenia Detector</title>
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/styles.css') }}">
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
	<nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('home')}}">Schizophrenia Detector</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('about')}}">About</a>
            </li>
            </ul>
        </div>
    </nav>


	<div class="upload-file" ng-app="schizo_detector" ng-controller="mainCtrl">
		<div style="margin: 10px;text-align: -webkit-center;">
			<div style='margin-bottom: 15px;'>
				<p class="upload-data"> <strong> Upload your EEG data! </strong></p>
				<input type='file' id='dataInput' style="font-family: 'Roboto Mono', monospace; margin:10px"/>
				<!-- <label class="file">
					<input type="file" id='dataInput' aria-label="File browser example">
					<span class="file-custom"></span>
				</label> -->
				<p><strong style="font-family: 'Roboto Mono', monospace;">Click below to predict</strong></p>
				<p style="font-family: 'Roboto Mono', monospace;" ng-bind="healthy_results"></p>
				<p style="font-family: 'Roboto Mono', monospace;" ng-bind="schizo_results"></p>
				<!-- {%for post in postss%}
				<p>{{post.item1}}</p>
				<p>{{post.item2}}</p>
				<p>{{post.item3}}</p>
				{% endfor %} -->
				<button style="font-family: 'Roboto Mono', monospace ;font-weight: 900;border: none;border-radius: 5px;" ng-click='varFeaExtr()'>
					Feature Extraction (VAR)</button>
				<button style="font-family: 'Roboto Mono', monospace ;font-weight: 900;border: none;border-radius: 5px;" ng-click='PDCFeaExtr()'>
					Feature Extraction (PDC)</button>
				<button style="font-family: 'Roboto Mono', monospace ;font-weight: 900;border: none;border-radius: 5px;"
					ng-click='generateGraph()'>Generate Graph</button>
				<button style="font-family: 'Roboto Mono', monospace ;font-weight: 900;border: none;border-radius: 5px;" ng-click='predict()'>
					Make prediction</button>
			</div>
			<div style="display: inline-flex; margin-top: 10px;">
				<div id="hm_container1" style="width:350px;height: 350px;"></div>
				<div id="hm_container2" style="width:350px;height: 350px;"></div>
				<div id="hm_container3" style="width:350px;height: 350px;"></div>
				<div id="hm_container4" style="width:350px;height: 350px;"></div>
				<div id="hm_container5" style="width:350px;height: 350px;"></div>
			</div>
			<div style="display: inline-flex; margin-top: 10px;">
				<div id="hm_container_pdc1" style="width:350px;height: 350px;"></div>
				<div id="hm_container_pdc2" style="width:350px;height: 350px;"></div>
				<div id="hm_container_pdc3" style="width:350px;height: 350px;"></div>
				<div id="hm_container_pdc4" style="width:350px;height: 350px;"></div>
				<div id="hm_container_pdc5" style="width:350px;height: 350px;"></div>
			</div>
		</div>
		<div style="display: inline-flex;">
			<div style="margin: 10px;">
				<!-- <div ng-repeat="channel_container in channels_container"> -->
				<!-- <div id="{{channel_container}}" style="height: 150px; width: 800px;"></div> -->
				<div id="chartContainer1" style="height: 150px; width: 800px;"></div>
				<div id="chartContainer2" style="height: 150px; width: 800px;"></div>
				<div id="chartContainer3" style="height: 150px; width: 800px;"></div>
				<div id="chartContainer4" style="height: 150px; width: 800px;"></div>
				<div id="chartContainer5" style="height: 150px; width: 800px;"></div>
				<div id="chartContainer6" style="height: 150px; width: 800px;"></div>
				<div id="chartContainer7" style="height: 150px; width: 800px;"></div>
				<div id="chartContainer8" style="height: 150px; width: 800px;"></div>
			</div>
			<div>
				<div id="chartContainer9" style="height: 150px; width: 800px;"></div>
				<div id="chartContainer10" style="height: 150px; width: 800px;"></div>
				<div id="chartContainer11" style="height: 150px; width: 800px;"></div>
				<div id="chartContainer12" style="height: 150px; width: 800px;"></div>
				<div id="chartContainer13" style="height: 150px; width: 800px;"></div>
				<div id="chartContainer14" style="height: 150px; width: 800px;"></div>
				<div id="chartContainer15" style="height: 150px; width: 800px;"></div>
				<div id="chartContainer16" style="height: 150px; width: 800px;"></div>
			</div>
		</div>
	</div>
</body>

</html>

<script>
	var app = angular.module('schizo_detector', []);

	app.controller('mainCtrl', function ($scope, $http) {

		var eeg_data;
		var eeg_var_lag5;
		var eeg_PDC_lag5;

		$scope.healthy_results = "";
		$scope.schizo_results = "";
		$scope.results;

		$scope.generateGraph = function () {
			/*This function generates the graph of all 16 EEG channels on the UI*/
			var eeg_channels = []

			for (var channels = 0; channels < 16; channels++) { //loop 16 times to generate each channel's graph
				channel_arr = []
				for (var i = 0; i < eeg_data.length; i++) {
					channel_arr.push({ x: i, y: eeg_data[i][channels] });
				}
				eeg_channels.push(channel_arr);

				var containerName = "chartContainer" + (channels + 1)
				var chart = new CanvasJS.Chart(containerName,
					{
						title: { text: "EEG signal channel " + (channels + 1) },
						data: [{ type: "line", dataPoints: eeg_channels[channels] }]
					});
				chart.render();
			}
		}

		$scope.varFeaExtr = function () {
			/*Sends an AJAX request to the backend to compute the VAR coefficients*/
			console.log("Using VAR method to Feature Extract signals.")
			$http({
				method: "GET",
				url: "/VAR"
			}).then(function mySuccess(response) {
				eeg_var_lag5 = response.data;
				generate_VAR_heatmap();// Generates the heatmap using the 5 VAR coefs matrix
				console.log(eeg_var_lag5);
			}, function myError(response) {
				console.log(response);
				alert("Error in displaying matrix due to incorrect data format. Please upload another file");
			});
		}

		$scope.PDCFeaExtr = function () {
			/*Sends an AJAX request to the backend to compute the PDC matrix*/
			console.log("Using PDC method to Feature Extract signals.")
			$http({
				method: "GET",
				url: "/PDC"
			}).then(function mySuccess(response) {
				eeg_PDC_lag5 = response.data[1];
				generate_PDC_heatmap();// Generates the heatmap using the 5 pdc matrix
				console.log(response.data);
			}, function myError(response) {
				console.log(response);
				alert("Error in displaying matrix due to incorrect data format. Please upload another file");
			});
		}

		$scope.predict = function () {
			/*Sends an AJAX request to the backend to make prediction based on the PDC values*/
			console.log("Making Prediction")
			$http({
				method: "GET",
				url: "/predict"
			}).then(function mySuccess(response) {
				console.log("Made a prediction!")
				console.log(response.data);
				$scope.results = response.data;
				$scope.healthy_results = "Healthy: " + $scope.results[0][0]//binds the result to the UI
				$scope.schizo_results = "Schizophrenic: " + $scope.results[0][1]//binds the result to the UI
			}, function myError(response) {
				console.log(response);
			});
		}

		var manageFile = function (evt) {
			console.log("file upload clicked");
			var file = evt.currentTarget.files[0];
			console.log(file);
			var reader = new FileReader();
			reader.onload = function (evt) {
				//console.log({data:JSON.stringify(evt.target.result)})
				//var formData = new FormData();
				//formData.append('file',JSON.stringify(evt.target.result))

				$http({
					method: "POST",
					url: "/uploadEEG",
					data: JSON.stringify({ data: evt.target.result }),
					contentType: undefined
				}).then(function mySuccess(response) {
					eeg_data = response.data
					console.log(eeg_data);
				}, function myError(response) {
					console.log(response);
					alert("Please upload the file in the correct data format (.eea)");
				});

			};
			reader.readAsBinaryString(file);
		}

		// angular.element(document.querySelector('#dataInput')).on('change',manageFile)
		$('#dataInput').on('change', manageFile);

		var generate_VAR_heatmap = function () {
			var var_matrices = []
			for (var mat_index = 0; mat_index < eeg_var_lag5.length; mat_index++) {
				var datapoints = []
				for (var row = 0; row < 16; row++) {
					for (var column = 0; column < 16; column++) {			//row,column
						if (column==row){
							datapoints.push([row, column, 0]);
						}
						else{
							datapoints.push([row, column, eeg_var_lag5[mat_index][column][row]]);
						}
					}
				}
				var_matrices.push(datapoints)

			}

			var chn_categories = ["channel1", "channel2", "channel3", "channel4", "channel5", "channel6", "channel7", "channel8", "channel9", "channel10",
				"channel11", "channel12", "channel13", "channel14", "channel15", "channel16",]


			for (var i = 0; i < var_matrices.length; i++) {

				Highcharts.chart('hm_container' + (i + 1), {
					chart: {
						type: 'heatmap',
						marginTop: 40,
						marginBottom: 70,
						plotBorderWidth: 1
					},

					title: {
						text: 'Extracted VAR(' + (i + 1) + ') coefficients'
					},
					xAxis: {
						categories: chn_categories
					},
					yAxis: {
						categories: chn_categories,
						title: null,
						reversed: true
					},
					colorAxis: {
						minColor: '#006b24',
						maxColor: '#f7ff79'
					},
					legend: {
						align: 'right',
						layout: 'vertical',
						margin: 0,
						verticalAlign: 'top',
						y: 25,
						symbolHeight: 220
					},
					series: [{
						name: 'VAR coefficients',
						borderWidth: 1,
						data: var_matrices[i],
						dataLabels: {
							enabled: false,
							color: '#000000'
						}
					}]
				});
			}

		}

		var generate_PDC_heatmap = function () {
			var PDC_matrices = []
			for (var mat_index = 0; mat_index < eeg_PDC_lag5.length; mat_index++) {
				var datapoints = []
				for (var row = 0; row < 16; row++) {
					for (var column = 0; column < 16; column++) {            //row,column
						if (column==row){
							datapoints.push([row, column, 0]);
						}
						else{
							datapoints.push([row, column, eeg_PDC_lag5[mat_index][column][row]]);
						}
						
					}
				}
				PDC_matrices.push(datapoints)
			}
			var chn_categories = ["channel1", "channel2", "channel3", "channel4", "channel5", "channel6", "channel7", "channel8", "channel9", "channel10",
				"channel11", "channel12", "channel13", "channel14", "channel15", "channel16",]
			var bandwidths = ['Delta [0hz - 4hz]', 'Theta [4hz - 8hz]', 'Alpha[8hz - 13hz]', 'Beta [13hz - 30hz]', 'Gamma [30hz - 64hz]']
			for (var i = 0; i < PDC_matrices.length; i++) {

				Highcharts.chart('hm_container_pdc' + (i + 1), {
					chart: {
						type: 'heatmap',
						marginTop: 40,
						marginBottom: 70,
						plotBorderWidth: 1
					},
					title: {
						text: bandwidths[i]
					},
					xAxis: {
						categories: chn_categories
					},
					yAxis: {
						categories: chn_categories,
						title: null,
						reversed: true
					},
					colorAxis: {
						minColor: '#ffff00',
						maxColor: '#000099'
					},
					legend: {
						align: 'right',
						layout: 'vertical',
						margin: 0,
						verticalAlign: 'top',
						y: 25,
						symbolHeight: 220
					},
					series: [{
						name: 'PDC matrix',
						borderWidth: 1,
						data: PDC_matrices[i],
						dataLabels: {
							enabled: false,
							color: '#000000'
						}
					}]
				});
			}

		}


	});
</script>